name: release

on:
  push:
    tags: ["*"]

jobs:
  release-windows-amd64:
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Build
        run: |
          go build -v -trimpath -ldflags "-s -w" -o  bin/myst-vm-helper.exe github.com/mysteriumnetwork/hyperv-node/cmd/svc
        env:
          GOARCH: amd64
          GOOS: windows

      - name: Upload
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            bin/myst-vm-helper.exe

        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release-amd64:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16

    - name: Install QEMU
      run: |
        sudo apt-get update -q -y
        sudo apt-get -qq install -y bridge-utils qemu-system-x86 qemu-utils ovmf expect cpu-checker zip

    - name: Build image
      run: |
        wget -q https://dl-cdn.alpinelinux.org/alpine/v3.14/releases/x86_64/alpine-virt-3.14.3-x86_64.iso
        expect assets/alpine/provision-image-qemu.exp
        zip -q -9 alpine-vm-disk.zip alpine-vm-disk.vhdx

    - name: Upload
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          alpine-vm-disk.zip

      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}